<!-- src/views/domicilios/solic-detalle.hbs -->

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Domicilio</title>
  </head>
  <body>
    <!-- Menú -->
    {{> menu-solic }}

    <section class="section">
      <div class="container">
        <h1 class="title">Detalles del Domicilio</h1>

        <!-- Información del Domicilio -->
        <div class="box">
          <table class="table is-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <td id="solicitud-id">{{idSolicitud}}</td>
              </tr>
              <tr>
                <th>Estado</th>
                <td id="solicitud-estado"></td>
              </tr>
              <tr>
                <th>Actividad</th>
                <td id="solicitud-actividad"></td>
              </tr>
              <tr>
                <th>Destinatario</th>
                <td id="solicitud-destinatario"></td>
              </tr>
              <tr>
                <th>Dirección</th>
                <td id="solicitud-direccion"></td>
              </tr>
              <tr>
                <th>Barrio</th>
                <td id="solicitud-barrio"></td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td id="solicitud-telefono"></td>
              </tr>
              <tr>
                <th>Instrucciones</th>
                <td id="solicitud-instrucciones"></td>
              </tr>
              <tr>
                <th>Fecha de Solicitud</th>
                <td id="gestion-fecha-solicitud">
                  {{!-- <span
                    class="fechas"
                    data-fecha="{{domicilio.dsoFchSolicitud}}"
                  ></span> --}}
                </td>
              </tr>
              <tr>
                <th>Fecha de Entrega</th>
                <td id="gestion-fecha-entrega">
                  {{!-- <span
                    class="fechas"
                    data-fecha="{{domicilio.dataGestion.dgoFchEntrega}}"
                  ></span> --}}
                </td>
              </tr>
              <tr>
                <th>Mensajero</th>
                <td id="gestion-mensajero"></td>
              </tr>
              <tr>
                <th>Valor</th>
                <td id="gestion-valor"></td>
              </tr>
              <tr>
                <th>Vr adicional</th>
                <td id="gestion-vr-adicional"></td>
              </tr>
              <tr>
                <th>Centro de costos</th>
                <td id="gestion-centro-costos"></td>
              </tr>
              <tr>
                <th>Observaciones</th>
                <td id="gestion-observaciones"></td>
              </tr>
            </tbody>
          </table>

          <!-- Botón para editar -->  
          <a id="buttonEditar" class="button is-warning">Editar</a>

          <!-- Botón para regresar -->
          <a href="javascript:history.back()" class="button is-primary">Regresar</a>
        </div>
      </div>

      {{!-- <table class="table is-hoverable">
        <thead>
          <tr>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
          </tr>
        <tbody>
          <tr>
            <td>Two</td>
            <td>Four</td>
            <td>Five</td>
          </tr>
          <tr>
            <td>Three</td>
            <td>Four</td>
            <td>Five</td>
          </tr>
          <tr>
            <td>Two</td>
            <td>Four</td>
            <td>Five</td>
          </tr>
        </tbody>
      </table> --}}
    </section>
    <script type="module" src="/js/detalle-solicitudes.js"></script>
  </body>
</html>