<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Mensajero</title>
</head>
<body>
  <!-- Menú -->
    {{> menu-gestion }}

    <section class="section">
      <div class="container">
        <h1 class="title" id="form-title">Formulario Mensajero</h1>

        <div id="formulario" class="box">
          <form id="mensajero-form">

            <!-- Campo ID (solo visible en edición) -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">ID</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow" style="width: 150px;">
                  <div class="control">
                    <input class="input" id="mensajero-id" type="text" placeholder="ID Mensajero" value="{{idMensajero}}" disabled="true">
                  </div>
                </div>
              </div>
            </div>

            {{!-- Código --}}
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Identificación</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="msjCodigo" type="text" placeholder="Identificación Mensajero">
                  </div>
                  <p class="help">Este campo es requerido</p>
                </div>
              </div>
            </div>

            <!-- Nombre -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Nombre</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="msjNombre" type="text" placeholder="Nombre">
                  </div>
                  <p class="help">Este campo es requerido</p>
                </div>
              </div>
            </div>

            <!-- Dirección -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Dirección</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="msjDireccion" type="text" placeholder="Dirección">
                  </div>
                  <p class="help">Este campo es requerido</p>
                </div>
              </div>
            </div>

            <!-- Teléfono -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Teléfono</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="msjTelefono" type="text" placeholder="Teléfono">
                  </div>
                  <p class="help">Este campo es requerido</p>
                </div>
              </div>
            </div>

            <!-- Email -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Email</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="msjEmail" type="text" placeholder="Email">
                  </div>
                </div>
              </div>
            </div>

            <!-- Botones de acción -->
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <button class="button is-primary" id="submit-button">
                  Crear Mensajero
                </button>
              </p>
              <p class="control">
                <a class="button is-light" href="/mensajeros/lista-mensajeros">
                  Cancelar
                </a>
              </p>
            </div>

          </form>
        </div>

      </div>

    </section>
    <script type="module" src="/js/form-mensajeros.js"></script>
</body>
</html>