<!-- src/views/solicitudes/lista-solicitudes.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Solicitudes</title>
</head>
<body>
  <!-- Menú -->
  {{> menu-solic }}
  
  <section class="section">
    <div class="container">
      <h1 class="title">Mis Solicitudes</h1>

      <div class="box">
        <!-- Búsqueda de solicitudes -->
        <div class="level-right mb-4">
          <div class="level-item">
            <div class="field has-addons">
              <div class="control">
                <input id="search-input" class="input" type="text" placeholder="Buscar solicitud"/>
              </div>
              <div class="control">
                <a id="search-button" class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Tabla de Solicitudes -->
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Actividad</th>
              <th>Destinatario</th>
              <th>Estado</th>
              <th>Fecha Solicitud</th>
              <th>Fecha Entrega</th>
              {{!-- <th>Detalle</th> --}}
              <th>Acciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="solicitudes-table-body">
            <!-- Las filas se cargarán dinámicamente -->
          </tbody>
        </table>
      </div>

      <!-- Paginación -->
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a id="prev-page" class="pagination-previous">Página Anterior</a>
        <a id="next-page" class="pagination-next">Página Siguiente</a>
        <span id="pagination-info" class="pagination-info"></span>
      </nav>

      <!-- Botón para Regresar -->
      {{!-- <a href="/solicitudes/solicitudes" class="button is-primary mt-4">Regresar</a> --}}
    </div>
  </section>
  <script>
    const userId = {{{jsonify user.id}}}; // ID del usuario autenticado
    const origin = "{{origin}}";
  </script>
  <script type="module" src="/js/lista-solicitudes.js"></script>
</body>
</html>