<nav class="navbar is-primary is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- Logo -->
    <div class="navbar-item"></div>   <!-- navbar item vacío para que se genere un espacio al lado izquierdo -->
    <a href="/gestion/dashboard" class="navbar-item  no-hover">
      <img src="/img/Simbolo-Proditexco.png" alt="Logo" style="max-height: 3rem;">
    </a>

    <!-- Hamburguesa para móvil -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <!-- Menú principal (lado izquierdo) -->
    <div class="navbar-start">
      <a href="/gestion/dashboard" class="navbar-item">Inicio</a>
      <a href="/gestion/lista-gestion" class="navbar-item">Solicitudes</a>
      <a href="/mensajeros/lista-mensajeros" class="navbar-item">Mensajeros</a>
      <a href="/reportes/gestion" class="navbar-item">Reportes</a>
    </div>

    <!-- Menú secundario (lado derecho) -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-light" href="/solicitudes/form-solicitudes">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Nueva Solicitud</span>
          </a>
          <a class="button is-light ml-3 has-text-danger-40" href="/auth/logout">
            <span class="icon">
                <i class="fas has-text-danger-40 fa-sign-out-alt"></i>
            </span>
            <span>Cerrar Sesión</span>
          </a>
        </div>
      </div>
      <div class="navbar-item"></div> <!-- navbar item vacío para que se genere un espacio al lado derecho -->
    </div>
  </div>
</nav>

<style>
  /* Desactivar el hover para elementos específicos */
  .no-hover:hover {
    background-color: transparent !important; /* Evita que cambie el fondo */
  }
</style>
{{!-- Fin del menú --}} 

{{!-- Script para hacer funcional el botón burger en dispositivos móviles --}}
<script>
  document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

              // Get the "data-target" attribute from the clicked "navbar-burger"
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

          });
      });
  });
</script>
